.Product {
  font-family: "Roboto", sans-serif;
  margin: 88px 0 0 0;

  &_header {
    display: flex;
    align-items: end;
    column-gap: 33px;

    & a {
      font-size: 16px;
      color: #2a5275;
    }
  }

  &-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 15px;
    padding: 17px 13px 17px 20px;
    border: 1px solid #eaeaf0;
    width: 100%;
    max-width: 326px;
    font-size: 20px;
    color: #000;

    & img {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 15px 20px 0px rgba(42, 82, 117, 0.1);
      border: none;
    }

    &__top-wrap {
      text-align: center;
    }
  }

  &_basket {
    background: #4878a6;
    padding: 12px;
    border-radius: 3px;

    &:hover {
      background: rgba(42, 82, 117, 1);
    }
  }
}

.product-card__name {
  margin: -3px 0 0 0px;
  padding: 0 40px 0 0;
  word-break: auto-phrase;
  line-height: 1.26;
  color: #000;
}

.product-card__brand {
  margin: 0px 0 0 0px;
  color: #838688;
  font-size: 16px;
}

.Product_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.rating {
  display: flex;
  margin: 4px 0 0 2px;

  .star {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    display: inline-block;
    margin-right: 5px;

    &svg {
      fill: #eaeaf0;
    }
  }

  .star.filled svg {
    fill: gold; /* Yellow color for filled stars */
  }

  .message {
    margin-left: 10px;
    display: flex;
    align-items: center;

    column-gap: 5px;
    font-size: 16px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 11px 0 0px 0px;
  color: #000;

  &-after {
    font-size: 24px;
    font-weight: 600;
  }

  &-before {
    font-size: 16px;
    font-weight: 600;
    color: #838688;
    text-decoration: line-through;
  }

  &-discont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 3px 20px 2px 5px;
    font-size: 14px;
    background: #f37748;
    border-radius: 10px;
  }

  &-middle_wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &-bottom_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
  }

  &-save {
    display: flex;
    column-gap: 11px;
  }
}

.discount {
  background: #fff;
  color: #000;
  padding: 4px 7px 0 4px;
  border-radius: 10px;
}

.title {
  letter-spacing: 0.3px;
  font-size: 36px;
  font-weight: 600;
}

.saveBtn {
  background: none;
  border: 1px solid #c8cacb;
  padding: 12px;
  border-radius: 5px;
}

.purchaseButton {
  color: #4878a6;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: 1px solid #4878a6;
  border-radius: 5px;
  padding: 13px 54px;
}

@media (max-width: 1024px) {
  .purchaseButton {
    padding: 13px 20px;
  }
}

@media (max-width: 768px) {
  .Product {
    margin: 65px 0 0 0;

    &_header {
      column-gap: 17px;
    }

    &_wrapper {
      margin-top: 32px;
    }

    &-card {
      max-width: 364px;
      padding: 17px 13px 18.5px 20px;

      &__top-wrap {
        padding: 0px 34px;
      }

      &__brand {
        margin: 21px 0 0 0px;
      }
    }
  }

  .Product_wrapper {
    flex-wrap: wrap;
    row-gap: 31px;
  }

  .title {
    font-size: 29px;
  }

  .title-news {
    font-size: 34px;
  }

  .product-card__brand {
    margin: 21px 0 0 0px;
  }

  .purchaseButton {
    padding: 13px 72px;
  }

  .price-bottom_wrap {
    column-gap: 10px;
    justify-content: start;
  }
}

@media (max-width: 320px) {
  .Product_header {
    flex-wrap: wrap;
  }

  .title {
    font-size: 24px;
  }
}
