.Basket {
  margin: 8px 0 0 6px;

  font-size: 16px;

  &_line {
    margin-top: 29px;
  }

  &_right {
    width: 480px;
    height: 354px;

    background: rgba(237, 242, 246, 1);

    border-radius: 8px;

    margin: 0 0px 0 20px;
    padding: 31px;

    &_content {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-top: 22px;
    }

    &_toBePaid {
      display: flex;
      justify-content: space-between;
      align-items: end;

      margin-top: 39px;

      &_lTitle {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &_button {
      width: 100%;

      background: rgba(131, 134, 136, 1);
      color: #fff;
      font-size: 16px;

      border-radius: 4px;

      margin-top: 23px;
      padding: 14px 0;

      &_active {
        background: rgba(72, 120, 166, 1);
      }
    }
  }

  &_container {
    display: flex;
    margin-top: 53px;
  }

  &_nextButton {
    font-size: 16px;

    color: #fff;
    background: rgba(72, 120, 166, 1);

    margin-top: 11px;
    padding: 14px 77px;

    border-radius: 4px;

    &_toChange {
      background: none;
      border: 2px solid rgba(72, 120, 166, 1);
      color: rgba(72, 120, 166, 1);
      font-weight: 600;
    }
  }

  &_plug {
    width: 860px;

    border: 1px solid rgb(200, 202, 203);
    border-radius: 8px;

    margin-top: 41px;
    padding: 31px;

    &_title {
      font-weight: 800;
      font-size: 28px;

      color: rgba(131, 134, 136, 1);

      &_active {
        color: black;
      }
    }

    &_line {
      margin: 10px 0 30px 0;
    }

    &_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_selectedAddress {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px 0 7px 0;
  }
}

.recipient_inp {
  width: 390px;
  min-height: 48px;

  font-size: 16px;
  border: 1px solid rgba(234, 234, 240, 1);

  padding: 0 10px;

  border-radius: 5px;
}

.Basket_left_yourOrder {
  width: 860px;

  border: 1px solid rgba(200, 202, 203, 1);
  border-radius: 8px;

  padding: 30px;

  &_emerging {
    display: flex;
    justify-content: space-between;
  }
}

.disabled {
  display: none;
}

.pick-upPoint {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.addressPoint {
  display: flex;
  flex-direction: column;

  margin: 25px 0 0 15px;
}

.workTime {
  color: rgba(131, 134, 136, 1);
}

.city_select {
  width: 310px;
  min-height: 48px;

  font-size: 16px;
  border: 1px solid rgba(234, 234, 240, 1);

  padding: 0 10px;

  border-radius: 5px;

  &_order {
    display: flex;
    align-items: center;
    margin: 0 0 20px 30px;

    column-gap: 10px;
  }

  & option {
    min-height: 48px;
  }
}

.Basket_choose-city {
  &_flex {
    display: flex;
  }
}

.pointsInCity {
  margin: 20px 10px;

  font-size: 20px;
}

.delivery {
  display: flex;
  column-gap: 30px;

  & input {
    width: 310px;
    min-height: 48px;

    border: 1px solid rgba(234, 234, 240, 1);

    padding: 0 10px;
  }

  &_titles {
    padding: 10px 0;
  }

  &_comments {
    min-height: 48px;
    border: 1px solid rgb(234, 234, 240);
    padding: 0 10px;
    width: 100%;
  }
}

.selectedCity {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (max-width: 1024px) {
  .Basket_container {
    flex-direction: column;
  }

  .Basket_left_yourOrder {
    width: 100%;
  }

  .Basket_plug {
    width: 100%;
  }

  .Basket_right {
    width: 100%;

    margin: 35px 0 0 0;
  }
}

@media (max-width: 768px) {
  .YourOrder_title {
    max-width: 210px;
    margin: 10px 0 0 10px;
  }

  .YourOrder {
    flex-wrap: wrap;

    &_nav {
      order: 0;
    }

    &_delete {
      order: 1;
    }

    &_counter {
      order: 3;
      margin-top: 30px;
    }

    .YourOrder_price {
      order: 2;
      margin-top: 30px;
    }
  }

  .YourOrder_title {
    max-width: 150px;
  }

  .Basket_left_yourOrder {
    border: none;
    padding: 0;
  }

  .Basket_plug {
    border: none;
    border-bottom: 1px solid rgba(131, 134, 136, 1);
    border-radius: 0;
    padding: 20px 0;
  }

  .Basket_plug_title {
    font-size: 20px;
  }

  .Basket_right_content {
    font-size: 16px;
  }

  .Basket_right {
    width: 52vh;
    margin: 35px 0 0 -30px;
    padding: 20px 15px;
  }

  .Basket_nextButton {
    width: 100%;
  }

  .Basket_left_yourOrder_emerging {
    flex-wrap: wrap;
  }

  .Basket_choose-city_flex {
    flex-wrap: wrap;
  }

  .city_select_order {
    margin: 10px 0 10px 0;
  }

  .city_select {
    width: 280px;
  }

  .delivery {
    flex-wrap: wrap;
  }

  #map {
    display: none;
  }

  .Basket_selectedAddress {
    flex-wrap: wrap;
    font-size: 18px;
  }

  .Basket_plug_flex {
    flex-wrap: wrap;
  }

  .recipient_inp {
    width: 270px;
  }
}
